{% extends 'core/base.html' %}
{% load static django_bootstrap5 %}

{% block title %}S.H.A. | تعديل الملف المهني{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">تعديل الملف المهني</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-gold w-100">حفظ التغييرات</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}