{% extends 'core/base.html' %}
{% load static django_bootstrap5 %}

{% block title %}S.H.A. | {{ action }} دورة{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">{{ action }} دورة</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form layout='horizontal' %}
                            <button type="submit" class="btn btn-gold w-100">حفظ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}