{% extends './base.html' %}
{% load static django_bootstrap5 %}

{% block title %}S.H.A. | من نحن{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">من نحن؟</h2>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        <p><span class="fw-bolder">S.H.A /</span> Skill-Hub-Academy هي منصة تعليمية تهدف إلى تمكين الأفراد من اكتساب المهارات اللازمة للنجاح في عالم اليوم. نقدم دورات تدريبية حضورية وعبر الإنترنت تغطي مختلف المجالات، بقيادة مدربين متميزين.</p>
                        <p>رسالتنا هي بناء مجتمع تعليمي يشجع على النمو المستمر والابتكار.</p>
                        <p class="fw-bolder">الدكتور: ت. غريب</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}